<section class="fondo">
  <div class="contenedorSuperior">
    <div class="buscador">
      <input
        type="search"
        name=""
        id="inputBuscador"
        placeholder="Buscar productos..."
        (input)="filtrarLotes($event)"
      />
    </div>
    <div class="botonAgregar">
      <button type="button" class="btnAgregar" (click)="abrirFormulario()">
        Agregar
      </button>
    </div>
  </div>
  <div class="contenedorTabla">
    <div class="tablaScroll">
      <table class="tabla">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de reestructuración</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (producto of productosFiltrados; track $index) {
          <tr>
            <td>
              <img
                [src]="'assets/images/' + (
                  producto.logo === 'banco.png' || producto.logo === 'bancoDinero.png'
                    ? producto.logo
                    : 'noImage.png'
                )"
                alt="{{ producto.name }}"
                class="logo-img"
              />
            </td>
            <td>{{ producto.name }}</td>
            <td>{{ producto.description }}</td>
            <td>{{ producto.date_release }}</td>
            <td>{{ producto.date_revision }}</td>
            <td>
              <div class="dropdown">
                <button
                  (click)="mostrarDropDown($event, $index)"
                  class="dropbtn"
                >
                  <img
                    class="logo-img"
                    src="assets/images/dropdown.png"
                    alt="Menú"
                  />
                </button>
                <div
                  class="dropdown-content"
                  [class.show]="dropdownAbierto === $index"
                >
                  <a (click)="editarElemento($index)">Editar</a>
                </div>
              </div>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="6">
              <div class="sinProductos">No hay productos disponibles.</div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="pieTabla">
      <label>{{productosFiltrados.length}} Resultados</label>
      <select
        id="cantidad"
        [(ngModel)]="cantidadSeleccionada"
        (ngModelChange)="actualizarProductosFiltrados()"
        class="seleccionador"
      >
        @for (cantidad of cantidadRegistros; track $index) {
        <option [value]="cantidad">
          {{ cantidad === 'TODOS' ? 'Todos' : cantidad }}
        </option>
        }
      </select>
    </div>
  </div>
</section>
